<div class="marketingre_view_top">

  <div class="marketingre_view_top_body">
  <div class="marketingre_view_top_wrapper">


    <div class="marketingre_view_top_left">
      <img  src="https://marketing.betoparedes.com/assets/images/marketingre_view_awslogo.png" alt="#">
      
    </div>
      
    <div class="marketingre_view_top_right">
   <h2>Advanced Wellness Solutions </h2>

   <h3>The Ultimate Testing And Referral Platform And The Most Powerful Diagnostic Tool For Diagnostic 
     And Imaging Centers, As Well As Their Referring Physicians In The ANS Medical Industry.
  </h3>
    </div>

   
   

  </div>
</div>

</div>

 
<div class="marketingre_view_body">


    <div class="marketingre_view_body_wrapper">
  
      <div class="marketingre_view_body_con_top" >      
        <div class="marketingre_view_body_con_top_left">
  
        <h2>Know your Representative</h2>
        </div>
  
      
  
      </div>
  
      <div class="marketingre_view_btn_group">
        <button >contract review</button>
        <button> REQUEST A CONTRACT</button>
        <button >Product Review</button>
      </div>
  
      <div class="marketingre_view_body_con">
  
    <div class="marketingre_view_body_con_left" >
     
      <div class="video-responsive"  >
  
        <iframe width="560" height="315" src="https://www.youtube.com/embed/jssO8-5qmag" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


      </div>
    
  
  
      <button  >Marketing Strategies</button>
  
      <button  >Expected Revenues </button>
  
    </div>
 
  
      
   
  
      </div>
  
  
   
  
      <div class="marketingre_view_body_footer"  >

        <div class="marketingre_view_body_footer_wrapper">
      
          <h2>Your Doctors Will Be Excited With The RM-3A Testing And Report</h2>
          <h3>Take advantage of your physicians’ network and earn big with AWS PECE
             Program and the RM-3A medical device. No other system in the ANS medical industry gives 
             you as much data, and our level of analytical accuracy is unmatched by any other available devices.
          </h3>
        
        </div>
      
      </div>
  
  
   
    </div>
  
  
  </div>

