<!-- <app-adminheader></app-adminheader> -->

<div class="marketingre_view_top">

    <div class="marketingre_view_top_body">
    <div class="marketingre_view_top_wrapper">
  
  
      <div class="marketingre_view_top_left">
        <img   src="../../assets/images/marketingre_view_awslogo.png" alt="#">
        
      </div>
        
      <div class="marketingre_view_top_right" >
     <h2>Advanced Wellness Solutions </h2>
  
     <h3>The Ultimate Testing And Referral Platform And The Most Powerful Diagnostic Tool For Diagnostic 
       And Imaging Centers, As Well As Their Referring Physicians In The ANS Medical Industry.
    </h3>
      </div>
  
     
    
     
  
    </div>
  </div>
  
  </div>
  
  
  
  <div class="marketingre_view_body">
  
  
    <div class="marketingre_view_body_wrapper">
  
      <div class="marketingre_view_body_con_top" >      
        <div class="marketingre_view_body_con_top_left">
  
        <h2>Know your Representative</h2>
        </div>
  
        <div class="marketingre_view_body_con_top_right">
  
          <div  class="marketingre_view_body_con_top_right_box">
  
            <h3>Name - {{repData.firstname}} {{repData.lastname}}, Email - {{repData.email}} <ng-container *ngIf="repData.phoneno != null">Contact number - {{repData.phoneno}}</ng-container></h3>
  
            </div>
  
        </div>
  
      </div>
  
      <div class="marketingre_view_btn_group">
        <button (click)="goTo('contract')">Goto contract review Page</button>
        <button (click)="goTo('')">Goto marketing review Page</button>
        <button (click)="sendToCM(messagemodal)"> REQUEST A CONTRACT</button>
       
      </div>
  
      <div class="marketingre_view_body_con">
  
    <div class="marketingre_view_body_con_left" >
      <!-- <p>{{item.safeSrc}}</p> -->
      <div class="video-responsive" >
  
        <iframe width="560" height="315" src="https://www.youtube.com/embed/fnX8ZDfFzD4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      
  
  
      <button  >Jump To Marketing Strategies</button>
  
      <button  >Jump To Expected Revenues </button>
  
    </div>
  
       <div class="marketingre_view_body_con_right">
  
  
        <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

            <!-- Accordion card -->
            <div class="card">
          
              <!-- Card header -->
              <div class="card-header" role="tab" id="headingOne1">
                <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                  aria-controls="collapseOne1">
                  <h5 class="mb-0">
                    module 1
                  </h5>
                </a>
              </div>
          
              <!-- Card body -->
              <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
                data-parent="#accordionEx">
                <div class="card-body">


                    <div class="video-responsive" >
  
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/fnX8ZDfFzD4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <!-- <img  width="560" height="315" class="youtube-image" src="http://img.youtube.com/vi/fnX8ZDfFzD4/0.jpg" /> -->
                      </div>


                </div>
              </div>
          
            </div>
            <!-- Accordion card -->
          
            <!-- Accordion card -->
            <div class="card">
          
              <!-- Card header -->
              <div class="card-header" role="tab" id="headingTwo2">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2"
                  aria-expanded="false" aria-controls="collapseTwo2">
                  <h5 class="mb-0">
                    module 2
                  </h5>
                </a>
              </div>
          
              <!-- Card body -->
              <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2"
                data-parent="#accordionEx">
                <div class="card-body">


                    <div class="video-responsive" >
  
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/fnX8ZDfFzD4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      </div>



                </div>
              </div>
          
            </div>
            <!-- Accordion card -->
          
            <!-- Accordion card -->
            <div class="card">
          
              <!-- Card header -->
              <div class="card-header" role="tab" id="headingThree3">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree3"
                  aria-expanded="false" aria-controls="collapseThree3">
                  <h5 class="mb-0">
                    module 3
                  </h5>
                </a>
              </div>
          
              <!-- Card body -->
              <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3"
                data-parent="#accordionEx">
                <div class="card-body">


                    <div class="video-responsive" >
  
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/fnX8ZDfFzD4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      </div>




                </div>
              </div>
          
            </div>
            <!-- Accordion card -->
          
          </div>
          <!-- Accordion wrapper -->
  
  
        
  
  
  
  
        </div> 
  
  
     
  
  
      </div>
  
  





      <div class="marketingre_view_body_footer"  >

        <div class="marketingre_view_body_footer_wrapper">
      
          <h2>Your Doctors Will Be Excited With The RM-3A Testing And Report</h2>
          <h3>Take advantage of your physicians’ network and earn big with AWS PECE
             Program and the RM-3A medical device. No other system in the ANS medical industry gives 
             you as much data, and our level of analytical accuracy is unmatched by any other available devices.
          </h3>
        
        </div>
      
      </div>
  
  
 
  
  
   
    </div>
  
  
  </div>
    
  <!-- <app-footer></app-footer> -->
  
  
  
   
<ng-template #messagemodal>
  <div class="modal-body brandmanagement_modal">
      <div class="logo_wrapper">
          <img src="assets/images/logo.png">
      </div>
      <div class="message_success  text-center"> Your Contact Request Done Successfully !!</div>

  </div>
</ng-template>