<!-- <app-adminheader></app-adminheader> -->

<div class="marketingre_view_top">

    <div class="marketingre_view_top_body">
    <div class="marketingre_view_top_wrapper">
  
  
      <div class="marketingre_view_top_left">
        <img   src="https://marketing.betoparedes.com/assets/images/marketingre_view_awslogo.png" alt="#">
        
      </div>
        
      <div class="marketingre_view_top_right" >
     <h2>Advanced Wellness Solutions </h2>
  
     <h3>The Ultimate Testing And Referral Platform And The Most Powerful Diagnostic Tool For Diagnostic 
       And Imaging Centers, As Well As Their Referring Physicians In The ANS Medical Industry.
    </h3>
      </div>
  
     
    
     
  
    </div>
  </div>
  
  </div>
  
  
  
  <div class="marketingre_view_body">
  
  
    <div class="marketingre_view_body_wrapper">
  
      <div class="marketingre_view_body_con_top" >      
        <div class="marketingre_view_body_con_top_left">
  
        <h2>Know your Representative</h2>
        </div>
  
        <div class="marketingre_view_body_con_top_right">
  
          <div *ngIf="repData !=''" class="marketingre_view_body_con_top_right_box">
  
            <h3>Name - {{repData.firstname}} {{repData.lastname}}, Email - {{repData.email}}<ng-container *ngIf="repData.phoneno != null">, Contact number - {{repData.phoneno}}</ng-container></h3>
  
            </div>
  
        </div>
  
      </div>
  
      <div class="marketingre_view_btn_group">
        <button (click)="goTo('contract')">contract review</button>
        <button (click)="goTo('')">marketing review</button>
        <button (click)="sendToCM(messagemodal2)"> REQUEST A CONTRACT</button>
       
      </div>
  
      <div class="marketingre_view_body_con">
  
        <ng-container *ngFor="let item of youtube_url">
          <div class="marketingre_view_body_con_left" *ngIf="product_id == item.product_id">
            <!-- <p>{{item.safeSrc}}</p> -->
            <div class="video-responsive" *ngIf="this.discov != true">
        
              <iframe width="560" height="315" [src]="item.safeSrc" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="video-responsive" *ngIf="this.discov == true">
        
              <iframe width="560" height="315" [src]="safeSrc" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        
        
            <button (click)="startTime(item, '1')">Jump To Marketing Strategies</button>
        
            <button (click)="startTime(item,'2')">Jump To Expected Revenues </button>
        
          </div>
        </ng-container>
  
       <div class="marketingre_view_body_con_right">
  
  
        <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

          <!-- <ng-container *ngFor="let functionalities of allAccordion;let i = index"> -->
            <!-- Accordion card -->
            <div class="card" *ngFor="let functionalities of allAccordion;let i = index">
          
              <!-- Card header -->
              <div class="card-header" role="tab" [id]="'heading'+i">
                <span class="panel-title">
                <a data-toggle="collapse" data-parent="#accordionEx"  [href]="'#collapse'+i" [attr.aria-expanded]="functionalities[0].status"
                [attr.aria-controls]="'collapse'+i" [ngClass]="(functionalities[0].status == false)?'collapsed':''">
                  <h5 class="mb-0">
                    {{functionalities[0].title}}
                  </h5>
                </a>
              </span>
              </div>
          
              <!-- Card body -->
              <div [id]="'collapse'+i" role="tabpanel" [attr.aria-labelledby]="'heading'+i" data-parent="#accordionEx" [ngClass]="(functionalities[0].status == true)?'collapse show':'collapse'">
                <div class="card-body">
                  <!-- video start  -->
                  <ng-container *ngFor="let item of functionalities">
                    <div class="video_thumblock" (click)="startTime(item, '3')">
              
                      <div class="video_thumblock_img">
                        <div class="video_thumblock_imgdiv">
                          <img src="https://marketing.betoparedes.com/assets/images/product-review_playicon.png" class="playicon">
                          <img class="youtube-image" src="http://img.youtube.com/vi/{{item.link}}/0.jpg" />
                        </div>
                      </div>
              
                      <div class="video_thumblock_text">
                        <label>{{item.module}}</label>
              
                      </div>
              
              
                    </div>
                  </ng-container>
                </div>
              </div>
          
            </div>
          <!-- </ng-container> -->

            <!-- Accordion card -->
          
            <!-- Accordion card -->
            <!-- <div class="card">
          
              <div class="card-header" role="tab" id="headingTwo2">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2"
                  aria-expanded="false" aria-controls="collapseTwo2">
                  <h5 class="mb-0">
                    module 2
                  </h5>
                </a>
              </div>
        
              <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2"
                data-parent="#accordionEx">
                <div class="card-body">
                  <ng-container *ngFor="let item of productReviewData2">
                    <div class="video_thumblock" (click)="startTime(item, '3')">
                  
                      <div class="video_thumblock_img">
                        <div class="video_thumblock_imgdiv">
                          <img src="https://marketing.betoparedes.com/assets/images/product-review_playicon.png" class="playicon">
                          <img class="youtube-image" src="http://img.youtube.com/vi/{{item.link}}/0.jpg" />
                        </div>
                      </div>
                  
                      <div class="video_thumblock_text">
                        <label>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</label>
                  
                      </div>
                  
                  
                    </div>
                  </ng-container>
          </div>
              </div>
          
            </div> -->


            <!-- <div class="card">
          
              <div class="card-header" role="tab" id="headingThree3">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree3"
                  aria-expanded="false" aria-controls="collapseThree3">
                  <h5 class="mb-0">
                    module 3
                  </h5>
                </a>
              </div>

              <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3"
                data-parent="#accordionEx">
                <div class="card-body">

              <ng-container *ngFor="let item of productReviewData3">
                <div class="video_thumblock" (click)="startTime(item, '3')">
              
                  <div class="video_thumblock_img">
                    <div class="video_thumblock_imgdiv">
                      <img src="https://marketing.betoparedes.com/assets/images/product-review_playicon.png" class="playicon">
                      <img class="youtube-image" src="http://img.youtube.com/vi/{{item.link}}/0.jpg" />
                    </div>
                  </div>
              
                  <div class="video_thumblock_text">
                    <label>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</label>
              
                  </div>
              
              
                </div>
              </ng-container>
          </div>
              </div>
          
            </div> -->
          
          </div>
  
  
        
  
  
  
  
        </div> 
  
  
     
  
  
      </div>
  
  





      <div class="marketingre_view_body_footer"  >

        <div class="marketingre_view_body_footer_wrapper">
      
          <h2>Your Doctors Will Be Excited With The RM-3A Testing And Report</h2>
          <h3>Take advantage of your physicians’ network and earn big with AWS PECE
             Program and the RM-3A medical device. No other system in the ANS medical industry gives 
             you as much data, and our level of analytical accuracy is unmatched by any other available devices.
          </h3>
        
        </div>
      
      </div>
  
  
 
  
  
   
    </div>
  
  
  </div>
    
  <!-- <app-footer></app-footer> -->
  
  
  
   
<ng-template #messagemodal>
  <div class="modal-body brandmanagement_modal">
      <div class="logo_wrapper">
          <img src="assets/images/logo.png">
      </div>
      <div class="message_success  text-center"> Your Contact Request Done Successfully !!</div>

  </div>
</ng-template>


<ng-template #messagemodal2>
  <div class="modal-body slotevent">
      <div class="modal_header">
          <h3>ADD LEAD</h3>
      </div>

      <div class="content_wrapper">    
          <div class="editInfo_main_wrap">
              <form [formGroup]="dataFormForLead" (ngSubmit)="dosubmitForLead(messagemodal)">
                  <div class="form-group">
                      <label>First Name</label>
                      <input class="form-control" type="text" placeholder="Please Input Your First Name Here"
                          [formControl]="dataFormForLead.controls['firstname']">

                      <span class="errortext" style="color:red"
                          *ngIf="!dataFormForLead.controls['firstname'].valid && dataFormForLead.controls['firstname'].touched"> First Name
                          can not be blank</span>
                  </div>
                  <div class="form-group">
                      <label>Last Name</label>
                      <input class="form-control" type="text" placeholder="Please Input Your Last Name Here"
                          [formControl]="dataFormForLead.controls['lastname']">

                      <span class="errortext" style="color:red"
                          *ngIf="!dataFormForLead.controls['lastname'].valid && dataFormForLead.controls['lastname'].touched"> Last Name
                          can not be blank</span>
                  </div>

                  <div class="form-group">
                      <label>Company</label>
                      <input class="form-control" type="text" placeholder="Please Input Your Company Here"
                          [formControl]="dataFormForLead.controls['company']">

                          <span class="errortext" style="color:red"
                          *ngIf="!dataFormForLead.controls['company'].valid && dataFormForLead.controls['company'].touched"> Company
                          can not be blank</span>
                  </div>

                  <div class="form-group">
                      <label> Email Id</label>
                      <input class="form-control"  *ngIf="leaddata != ''  && leaddata.email.length > 3" type="text" [formControl]="dataFormForLead.controls['email']"
                     readonly>
                     <input *ngIf="leaddata == '' || leaddata.email.length < 3" class="form-control" type="text" [formControl]="dataFormForLead.controls['email']" placeholder="Please Input Your Email Here"
                      >

                      <span class="errortext" style="color:red"
                          *ngIf="leaddata != '' && leaddata.email.length< 2 && !dataFormForLead.controls['email'].valid && dataFormForLead.controls['email'].touched"> Email
                          can not be blank</span>
                  </div>

                  <div class="form-group">
                      <label>Address</label>
                      <input class="form-control" type="textarea" placeholder="Please Input Your Address Here"
                          [formControl]="dataFormForLead.controls['address']">
                  </div>

                  <div class="form-group">
                      <label>Phone No.</label>
                      <input class="form-control" type="text" placeholder="Please Input Your Phone Number Here"
                          [formControl]="dataFormForLead.controls['phoneno']">
                  </div>
                  <div class="form-group">
                    <label>Product.</label>
                      <select *ngIf="leaddata == '' || leaddata == null" formControlName="product"  class="productselect">
                          <option value="0" disabled>Select Product</option>
                          <option *ngFor="let searchval of productval" value="{{searchval._id}}">
                              {{searchval.productname}}</option>
                      </select>
                      <select *ngIf="leaddata != '' && leaddata != null" formControlName="product"  class="productselect">
                          <option value="0" disabled>Select Product</option>
                          <option *ngFor="let searchval of leaddata.productname" value="{{searchval.product_id}}">
                              {{searchval.product_name}}</option>
                      </select>
                  </div>
                  <div class="form-group">
                      <button class="btn_sv"> Submit </button>
                      <button class="btn_cncl" type="button" (click)="modalRef.hide()"> cancel</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</ng-template>