
 
   
   .marketingre_view_body_con_right{background: none!important; }

 .marketingre_view_body_con_right_con{ padding: 10px; background: #00bdf2;}

   .marketingre_view_body_con_right h2{    font-size: 36px;
    color: #003848;
    text-transform: uppercase; text-align: center; font-weight: bold;
   
    margin: 0 0 0 0;
    padding: 0px;}

    .marketingre_view_body_con_right_con_sub{ border: solid 1px #158aab; padding:40px 10px; background: #ededed;}  



    .marketingre_view_body_con_right .topbtn1{          display: block;
        width:100%;
        border-radius: 5px;
        margin: 0 auto;  margin-bottom: 25px;
        font-size: 26px;
        line-height: 32px; color: #0b1f28; text-shadow: 0 1px 1px #add1e6; text-align: center; padding: 14px 10px 16px 10px;
        font-weight: bold; text-transform: uppercase; border: none; cursor: pointer;  
           background: rgba(104,207,255,1);
           background: -moz-linear-gradient(top, rgba(104,207,255,1) 0%, rgba(13,168,240,1) 100%);
           background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(104,207,255,1)), color-stop(100%, rgba(13,168,240,1)));
           background: -webkit-linear-gradient(top, rgba(104,207,255,1) 0%, rgba(13,168,240,1) 100%);
           background: -o-linear-gradient(top, rgba(104,207,255,1) 0%, rgba(13,168,240,1) 100%);
           background: -ms-linear-gradient(top, rgba(104,207,255,1) 0%, rgba(13,168,240,1) 100%);
           background: linear-gradient(to bottom, rgba(104,207,255,1) 0%, rgba(13,168,240,1) 100%);
           filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#68cfff', endColorstr='#0da8f0', GradientType=0 );
       }
   

    .marketingre_view_body_con_right_con button{    display: block;
        width:100%;
        border-radius: 5px;
        margin: 0 auto;
        font-size: 26px; color: #0b1f28; text-shadow: 0 1px 1px #add1e6; text-align: center; padding: 18px 10px;
        font-weight: bold; text-transform: uppercase; border: none; cursor: pointer; margin-top: 25px;
           background: rgba(104,207,255,1);
           background: -moz-linear-gradient(top, rgba(104,207,255,1) 0%, rgba(13,168,240,1) 100%);
           background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(104,207,255,1)), color-stop(100%, rgba(13,168,240,1)));
           background: -webkit-linear-gradient(top, rgba(104,207,255,1) 0%, rgba(13,168,240,1) 100%);
           background: -o-linear-gradient(top, rgba(104,207,255,1) 0%, rgba(13,168,240,1) 100%);
           background: -ms-linear-gradient(top, rgba(104,207,255,1) 0%, rgba(13,168,240,1) 100%);
           background: linear-gradient(to bottom, rgba(104,207,255,1) 0%, rgba(13,168,240,1) 100%);
           filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#68cfff', endColorstr='#0da8f0', GradientType=0 );
       }
   
   .marketingre_view_body_con_left button{ display: inline-block; width: 49.5%; font-size: 22px; color: #0b1f28; text-shadow: 0 1px 1px #add1e6; text-align: center; padding: 18px 10px;
    font-weight: bold; text-transform: uppercase; border: none; cursor: pointer; margin-top: 8px;
       background: rgba(104,207,255,1);
       background: -moz-linear-gradient(top, rgba(104,207,255,1) 0%, rgba(13,168,240,1) 100%);
       background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(104,207,255,1)), color-stop(100%, rgba(13,168,240,1)));
       background: -webkit-linear-gradient(top, rgba(104,207,255,1) 0%, rgba(13,168,240,1) 100%);
       background: -o-linear-gradient(top, rgba(104,207,255,1) 0%, rgba(13,168,240,1) 100%);
       background: -ms-linear-gradient(top, rgba(104,207,255,1) 0%, rgba(13,168,240,1) 100%);
       background: linear-gradient(to bottom, rgba(104,207,255,1) 0%, rgba(13,168,240,1) 100%);
       filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#68cfff', endColorstr='#0da8f0', GradientType=0 );
   }
   
   .marketingre_view_body_con_left button:last-of-type{ margin-left: 1%;}


@media screen and (max-width:1440px) {
    .marketingre_view_body_con_right  .topbtn1 {    font-size: 22px; margin-bottom: 16px;}

    .marketingre_view_body_con_right h2  {
        font-size: 30px;}
 
}

@media screen and (max-width:1400px) {
.marketingre_view_body_con_right_con_sub {
    padding: 16px 10px;
}
.marketingre_view_body_con_right  .topbtn1 {   line-height: 26px;}
}
 
@media screen and (max-width:991px) {

    .marketingre_view_body_footer{ padding-right: 0px;}

}
 
@media screen and (max-width:540px) {
    .marketingre_view_body_con_top2  .marketingre_view_body_con_top_right  button{ font-size: 36px;}

}
